<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
</head>
<body>
	<h3 id="heading">Register</h3>
	<form action="/register/" method="post">
		<!-- {% csrf_token %} -->
		{{user_form.as_p}}
		<select name="type">
		  <option value="Student">Student</option>
		  <option value="Teacher">Teacher</option>
		  <option value="Admin">Admin</option>
		</select>
		<input type="submit" name="submit" value="Register">
	</form>
	<span style="color:red;">{{msg}}</span>
</body>
</html>